langchain
langchain_openai
langchain_ollama
nltk
openai
python-dotenv
beautifulsoup4
ipykernel
ipython
jupyter
numpy
pandas
plotly
pyarrow
scikit-learn
scipy
seaborn

# --index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio